@inject Models.PolygonData.PolygonDataLoader polygonDataLoader;
@inject Models.Database.DatabaseHandler databaseHandler;
@inject IJSRuntime Js;

<section id="graph-container" class="child">
    <div class="graph-headers">
        <div class="dropdown-menu graph-details-wrapper">
            <div class="select-btn">
                <span class="selectBtn-text">Graph Details</span>
                <span class="e-icons e-chevron-down"></span>
            </div>

            <div class="details-grid">
                <div class="details-header">
                    <span>Instrument</span>
                    <span>Security</span>
                    <span>Indicators</span>
                </div>

                @if (_selectedIndicators.Count > 0) {
                    <div class="details-row">
                        <span>@(_selectedInstrument == null ? "Stocks" : _selectedInstrument)</span>
                        <span>@(SelectedSecurity == null ? "Apple" : SelectedSecurity)</span>
                        <span>@_selectedIndicators[0]</span>
                    </div>

                    if (_selectedIndicators.Count > 1) {
                        foreach (string indicator in _selectedIndicators.GetRange(1, _selectedIndicators.Count - 2)) {
                            <div class="details-row">
                                <span></span>
                                <span></span>
                                <span>@indicator</span>
                            </div>
                        }
                    }
                    
                } else {
                    <div class="details-row">
                        <span>@(_selectedInstrument == null ? "Stocks" : _selectedInstrument)</span>
                        <span>@(SelectedSecurity == null ? "Apple" : SelectedSecurity)</span>
                        <span></span>
                    </div>
                }
            </div>
        </div>
    </div>

    @if (_timeseriesParam != null && _timeseriesParam.Size() > 0) {
        <Graph
            Timeseries="@_timeseriesParam"
            IndicatorTS="@_indicatorsParam"
            @rendermode="InteractiveServer" />
    }
    

</section>

@code {

}
