@inject Models.PolygonData.PolygonDataLoader polygonDataLoader;
@inject Models.Database.DatabaseHandler databaseHandler;
@inject IJSRuntime Js;

<section id="graph-container" class="child">
    <div class="graph-headers">
        <!--        <div class="dropdown-inputs">
            <div class="dropdown-toggle">
                <span>Get new data</span>
                <span class="e-icons e-chevron-down"></span>
            </div>

            <div class="inputs">
                <div class="input-row">
                    <label for="ticker">Ticker:</label>
                    <input type="text" id="ticker" placeholder="Ticker" required />
                </div>

                <div class="input-row">
                    <label for="multiplier">Multiplier:</label>
                    <input type="number" id="multiplier" placeholder="Multiplier" required />
                </div>

                <div class="input-row">
                    <label for="timespan">Timespan:</label>
                    <input type="text" id="timespan" placeholder="Timespan" required />
                </div>

                <div class="input-row">
                    <label for="dateFrom">Date From:</label>
                    <input type="date" id="dateFrom" required />
                </div>

                <div class="input-row">
                    <label for="dateTo">Date To:</label>
                    <input type="date" id="dateTo" required />
                </div>

                <button @onclick="FetchData">Load Data</button>
            </div>
        </div>
        -->

        <div class="dropdown-menu graph-details-wrapper">
            <div class="select-btn">
                <span class="selectBtn-text">Graph Details</span>
                <span class="e-icons e-chevron-down"></span>
            </div>

            <div class="details-grid">
                <div class="details-header">
                    <span>Instrument</span>
                    <span>Security</span>
                    <span>Indicators</span>
                </div>

                @if (_selectedIndicators.Count > 0) {
                    <div class="details-row">
                        <span>@(_selectedInstrument == null ? "Stocks" : _selectedInstrument)</span>
                        <span>@(SelectedSecurity == null ? "Apple" : SelectedSecurity)</span>
                        <span>@_selectedIndicators[0]</span>
                    </div>

                    if (_selectedIndicators.Count > 1) {
                        foreach (string indicator in _selectedIndicators.GetRange(1, _selectedIndicators.Count - 2)) {
                            <div class="details-row">
                                <span></span>
                                <span></span>
                                <span>@indicator</span>
                            </div>
                        }
                    }
                    
                } else {
                    <div class="details-row">
                        <span>@(_selectedInstrument == null ? "Stocks" : _selectedInstrument)</span>
                        <span>@(SelectedSecurity == null ? "Apple" : SelectedSecurity)</span>
                        <span></span>
                    </div>
                }
            </div>
        </div>
    </div>

    @if (_timeseriesParam != null && _timeseriesParam.Size() > 0) {
        <Graph
            Timeseries="@_timeseriesParam"
            IndicatorTS="@_indicatorsParam"
            @rendermode="InteractiveServer" />
    }
    

</section>

@code {

}
