<div id="pnl-graph-container">
    <div class="parameters-container">
        @foreach (string param in _strategyParameters) {
            <div>
                <label>@param</label>

                <!--TODO: Allow user to type an input for certain options-->

                <InputSelect @bind-Value="_selectedParams[param]" @onchange="(e => SelectParameter(param, e.Value.ToString()))">
                    <option value="">Select @param</option>
                    @foreach (var option in GetStrategyParameters(param)) {
                        <option value="@option">@option</option>
                    }
                </InputSelect>
            </div>
        }
    </div>

    <PnlGraph 
        Strategy="@Strategy"
        />
   
</div>

@code {

}
